.pokemonId{
    padding: 25vh 0;
}
.pokemonId_Card{
    border: 2px var(--black) solid;
    border-radius: 30px;
    width: 80%;
    min-width: 300px;
    margin: auto;
    padding: 20px;
}
.pokemonId_name,
.types span,
.abilities span,
.stats span{
    text-transform: capitalize;
}
.pokemonId_Card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.596) 1px 1px 3px 2px;
}
.pokemonId_img{
    width: 280px;
    background-position: center;
    background-size: cover;
    border-radius: 3vh;
    border: var(--black) 2px solid;
    box-shadow: rgba(0, 0, 0, 0.596) 1px 1px 3px 2px;
}
.pokemonId_img:hover{
    scale: 1.1;
    transition: 1s;
}
.pokemonId_info{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.types{
    display: flex;
}
.types span{
    margin: 0 20px;
    width: 60px;
    height: 28px;
    background-size: cover;
    background-position: center;
}
.characterist span{
    font-weight: bold;
}
.stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}
.stats_title{
    grid-column: 1/4;
}
.abilities span{
    margin: 0 20px 0 0;
}
.moves{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    min-width: 300px;
    margin: 30px auto;
    border: var(--black) 2px solid;
    border-radius: 30px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.596) 1px 1px 3px 2px;
}
.move_title{
    margin: 25px 0;
    font-size: 35px;
}
.move_list{
    display: flex;
    flex-wrap: wrap;
    grid-auto-columns: auto;
    gap: 1em;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.move_name{
    margin: 0 10px;
    padding-left: 5px;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    transition: 1s;
}
p#normal,
p#flying,
p#steel,
p#fire,
p#electric,
p#ice,
p#fairy{
    color: black;
}
p#bug,
p#ground,
p#water,
p#grass,
p#ghost,
p#poison,
p#dragon,
p#rock,
p#psychic,
p#fighting{
    color: var(--black);
}
p#dark{
    color: white;
}
img#normal{
    background-image: var(--normalBackground);
}
span#normal{
    background-image: var(--normalType)
}
p#normal{
    background: var(--normalColor)
}
img#fighting{
    background-image: var(--fightingBackground);
}
span#fighting{
    background-image: var(--fightingType)
}
p#fighting{
    background: var(--fightingColor)
}
img#flying{
    background-image: var(--flyingBackground);
}
span#flying{
    background-image: var(--flyingType)
}
p#flying{
    background: var(--flyingColor)
}
img#poison{
    background-image: var(--poisonBackground);
}
span#poison{
    background-image: var(--poisonType)
}
p#poison{
    background: var(--poisonColor)
}
img#ground{
    background-image: var(--groundBackground);
}
span#ground{
    background-image: var(--groundType)
}
p#ground{
    background: var(--groundColor)
}
img#bug{
    background-image: var(--bugBackground);
}
span#bug{
    background-image: var(--bugType)
}
p#bug{
    background: var(--bugColor)
}
img#rock{
    background-image: var(--rockBackground);
}
span#rock{
    background-image: var(--rockType)
}
p#rock{
    background: var(--rockColor)
}
img#ghost{
    background-image: var(--ghostBackground);
}
span#ghost{
    background-image: var(--ghostType)
}
p#ghost{
    background: var(--ghostColor)
}
img#steel{
    background-image: var(--steelBackground);
}
span#steel{
    background-image: var(--steelType)
}
p#steel{
    background: var(--steelColor)
}
img#fire{
    background-image: var(--fireBackground);
}
span#fire{
    background-image: var(--fireType)
}
p#fire{
    background: var(--fireColor)
}
img#water{
    background-image: var(--waterBackground);
}
span#water{
    background-image: var(--waterType)
}
p#water{
    background: var(--waterColor)
}
img#grass{
    background-image: var(--grassBackground);
}
span#grass{
    background-image: var(--grassType)
}
p#grass{
    background: var(--grassColor)
}
img#electric{
    background-image: var(--electricBackground);
}
span#electric{
    background-image: var(--electricType)
}
p#electric{
    background: var(--electricColor)
}
img#psychic{
    background-image: var(--psychicBackground);
}
span#psychic{
    background-image: var(--psychicType)
}
p#psychic{
    background: var(--psychicColor)
}
img#ice{
    background-image: var(--iceBackground);
}
span#ice{
    background-image: var(--iceType)
}
p#ice{
    background: var(--iceColor)
}
img#dragon{
    background-image: var(--dragonBackground);
}
span#dragon{
    background-image: var(--dragonType)
}
p#dragon{
    background: var(--dragonColor)
}
img#dark{
    background-image: var(--darkBackground);
}
span#dark{
    background-image: var(--darkType)
}
p#dark{
    background: var(--darkColor)
}
img#fairy{
    background-image: var(--fairyBackground);
}
span#fairy{
    background-image: var(--fairyType)
}
p#fairy{
    background: var(--fairyColor)
}
img#shadow{
    background-image: var(--shadowBackground);
}
span#shadow{
    background-image: var(--shadowType)
}
img#unknow{
    background-image: var(--unknowBackground);
  }
span#unknow{
    background-image: var(--unknowType)
}