.pokemon_list{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    padding-bottom: 20vh;
}
.pokedex{
    padding-top: 30vh;
    width: 80%;
    margin: auto;
}
.pokedex p{
    text-align: center;
    font-size: 30px;
}
.pokedex span{
    color: var(--red);
    font-weight: bold;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 0;
}
.input_bar{
    position: relative;
    display: grid;
}