*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, #light{
    --red: rgb(255, 0, 0);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    background-color: var(--white);
}
body, #dark{
    --red: rgb(1, 92, 24);
    --white: rgb(0, 0, 0);
    --black: rgb(255, 255, 255);
    background-color: var(--white);
}
ul{
    list-style: none;
}
.App{
    color: var(--black);
    min-height: 100vh;
    position: relative;
}
.App_tittle{
    background-color: var(--red);
    padding: 3vh 0;
    position: fixed;
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.App_tittle img{
    height: 10vh;
    max-width: 45vw;
    min-width: 300px;
}
.handleColor{
    position: fixed;
    top: 22vh;
    right: 3vw;
    z-index: 1;
    font-size: 3vh;
    background-color: var(--white);
    border: var(--black) 0.5vh solid;
    padding: 1vh;
    border-radius: 50%;
}
.handleColor:hover{
    transition: 0.5s;
    translate: 0 -0.5vh;
    box-shadow: var(--red) 0 0 0.5vh 0.5vh;
}
.general_footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    vertical-align: middle;
    background-color: var(--red);
    height: 10vh;
    display: grid;
    place-items: center;
}
.general_footer_middle{
    height: 6vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.general_footer_middle div:last-child{
    transform: scale(0.5);
}
.general_footer_middle_circle{
    background-color: rgb(255, 255, 255);
    width: 10vh;
    height: 10vh;
    box-shadow: rgb(0, 0, 0) 0 0px 0.5vh 0.5vh;
    border-radius: 50%;
    position: absolute;
}