.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 284px;
    border-radius: 15px;
    border: 2px var(--black) solid;
    box-shadow: rgba(0, 0, 0, 0.411) 2px 2px 5px 2px;
}
.card:hover{
    scale: 1.1;
    transition: 0.5s;
}
.card_tittle,
.card_type,
.card_stat{
    text-transform: capitalize;
}
.card_tittle{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px 15px 0 0;
    background-size: cover;
    background-position: center;
    border-bottom: 2px var(--black) solid;
}
.card_tittle img{
    width: 280px;
}
.card_tittle_name{
    font-size: 30px;
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.411) 2px 2px 5px 2px;
}
.card_types{
    display: flex;
    align-items: center;
}
.card_types span{
    margin-left: 20px;
}
.card_type{
    margin: 10px 8px;
    width: 60px;
    height: 26px;
    background-size: cover;
}
.card_stats{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 14px;
}
.card_stat{
    margin: 10px 10px;
}
header#normal{
  background-image: var(--normalBackground);
}
li#normal{
  background-image: var(--normalType)
}
header#fighting{
  background-image: var(--fightingBackground);
}
li#fighting{
  background-image: var(--fightingType)
}
header#flying{
  background-image: var(--flyingBackground);
}
li#flying{
  background-image: var(--flyingType)
}
header#poison{
  background-image: var(--poisonBackground);
}
li#poison{
  background-image: var(--poisonType)
}
header#ground{
  background-image: var(--groundBackground);
}
li#ground{
  background-image: var(--groundType)
}
header#bug{
  background-image: var(--bugBackground);
}
li#bug{
  background-image: var(--bugType)
}
header#rock{
  background-image: var(--rockBackground);
}
li#rock{
  background-image: var(--rockType)
}
header#ghost{
  background-image: var(--ghostBackground);
}
li#ghost{
  background-image: var(--ghostType)
}
header#steel{
  background-image: var(--steelBackground);
}
li#steel{
  background-image: var(--steelType)
}
header#fire{
  background-image: var(--fireBackground);
}
li#fire{
  background-image: var(--fireType)
}
header#water{
  background-image: var(--waterBackground);
}
li#water{
  background-image: var(--waterType)
}
header#grass{
  background-image: var(--grassBackground);
}
li#grass{
  background-image: var(--grassType)
}
header#electric{
  background-image: var(--electricBackground);
}
li#electric{
  background-image: var(--electricType)
}
header#psychic{
  background-image: var(--psychicBackground);
}
li#psychic{
  background-image: var(--psychicType)
}
header#ice{
  background-image: var(--iceBackground);
}
li#ice{
  background-image: var(--iceType)
}
header#dragon{
  background-image: var(--dragonBackground);
}
li#dragon{
  background-image: var(--dragonType)
}
header#dark{
  background-image: var(--darkBackground);
}
li#dark{
  background-image: var(--darkType)
}
header#fairy{
  background-image: var(--fairyBackground);
}
li#fairy{
  background-image: var(--fairyType)
}
header#shadow{
  background-image: var(--shadowBackground);
}
li#shadow{
  background-image: var(--shadowType)
}
header#unknow{
  background-image: var(--unknowBackground);
  }
li#unknow{
  background-image: var(--unknowType)
}